.taskList{
    font-size: 20px;
    max-width:45%;
    margin: auto;
    text-align: left;
    text-transform: capitalize;
    list-style: none;
}

.tasklistItem{
    padding: 5px;
    padding-left: 20px;
    border: 1px solid rgba(95, 90, 90, 0.219);
}

.delete{
    color:red;
    float: right;
    width:20%;
    cursor:pointer;
}